/local.mk
/GNUmakefile

*.o
*.d
dat/*.lev
dat/*.tag

dat/data
dat/dungeon
dat/dungeon.pdf
dat/nhdat
dat/options
dat/oracles
dat/quest.dat
dat/rumors

include/date.h
include/dgn_comp.h
include/filename.h
include/lev_comp.h
include/onames.h
include/pm.h
include/verinfo.h

src/monstr.c
src/slashthem

util/dgn_comp
util/dgn_lex.c
util/dgn_yacc.c
util/dlb
util/lev_comp
util/lev_lex.c
util/lev_yacc.c
util/makedefs

tags

.vscode/

slashthem-win/
